*{
	margin: 0;
	padding: 0;
}

body{
	background: #f1f2f8;
}

.main{
	height:100vh;
	padding: 0!important;
	margin-left: 180px;
}

#body1{
	overflow: hidden;
}


.sidebar{
	background-image: linear-gradient(to bottom right, #5a0078, #25005c);
	margin:0px;
	height: 100vh;
	padding: 0!important;
	position: fixed;
	width: 180px;
}

.sidebar .affix{
}

.sidebar p{
	color:#fff;
	background: #51007d;
	height: 70px;
	font-size: 16px;
	display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
}

.sidebar p i{
	color:#54c95d;
	font-size: 40px;
	margin-right: 5px;
}

.sidebar ul{
	margin-top: 40px;
	text-align: center;
}

.sidebar ul li{
	color:#fff;
	padding: 20px 0;
	transition: 0.5s background ease;
	display: flex;
    align-items: center;
    padding-left: 20px;
    border-left: 5px solid transparent;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor:pointer;
}


.sidebar ul li i{
	color: #54c95d;
	margin-right: :10px;
}

.sidebar ul li span{
	display: inline-block;
	margin-left:10px;
}

.sidebar ul li:hover{
	background: #51007d;
	border-left: 5px solid #54c95d;
}

.actve{
	background: #51007d;
	border-left: 5px solid #54c95d!important;
}

.nav-wrapper{
	background: #fff;
	height: 70px;
	line-height: 70px;
	padding: 0 30px;
	-webkit-app-region: drag;
}

.nav-wrapper ul{
	list-style-type: none;
	-webkit-app-region: no-drag;
}

.nav-wrapper ul li{
	float: left;
	height:13px;
	width:13px;
	border-radius: 50%;
	margin: 25px 0 10px 10px;
	cursor: pointer;
}

.nav-wrapper ul .minimize{
	background: #4db6ac;
}

.nav-wrapper ul .maximize{
	background: #ffc500;
}

.nav-wrapper ul .close{
	background: #ef5350;
}

.nav-wrapper .logo{
	
	font-size: 20px;
}

/*MAIN BODY SECTION*/
.mainbody{
	padding: 30px 30px;
}

.body1{
	display: block;
}

.quote{
	background-color: #fff;
	padding: 12px 0;
	position:relative;
	padding-left: 180px;
	padding-right: 50px;
	position: relative;
	margin: 0 10px;
}

.quote-header{
	background-image: linear-gradient(to right, #ef629f, #1ea0e3);
	padding-left: 180px;
	height: 60px;
	color:#fff;
	line-height: 60px;
	font-size: 25px;
	font-weight: 100;
	margin: 0 10px;
}

.quote img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	position: absolute;
	left: 4%;
	top:-30%;
	z-index: 1;
}

.quote i{
	height: 100px;
	width: 100px;
	position: absolute;
	color: #ef629f;
	font-size: 250px;
	opacity: 0.1;
	top: 60%;
	left: 20%;
	z-index: 0;
	transform: rotate(180deg);
}

.quote p{
	font-size: 20px;
	position: relative;
	margin-bottom: 15px;
	color:#616161;
	font-weight: 100;
}

.design-quote{
	position: absolute;
	font-size: 60px;
	font-family: 'Pacifico', cursive;
	color: #54c95d;
}


/*CARDS*/
.card{
	height: 300px;
	display: flex;
    align-items: center;
}

.title{
	font-weight: bold;
	font-size: 30px;
}

.sub-title{
	display: inline-block;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 1.5px;
	margin: 0px 0 10px 0;
}

.card .body-text{
	line-height: 21px;
	letter-spacing: 0.8px;
}

.card .action{
	display: inline-block;
	text-align: center;
	line-height: 30px;
	outline: none;
	background: transparent;
	border: 1px solid white;
	height: 30px;
	width: 120px;
	color: #fff;
	transition: all 0.5s ease;
	margin-top: 20px;
}

.card .action:hover{
	background-color: #fff;
	color: #000;
}

.card1{
	background: url("../images/bg-01.jpg");
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-items: center;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	position: relative;
  	z-index: 1;  
}

.card1::before {
	content: "";
  	display: block;
  	position: absolute;
  	z-index: -1;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
  	background-image: linear-gradient(to bottom, #43cea2, #185a9d);
  	opacity: 0.9;
}

.card2{
	background: url("../images/bg-01.jpg");
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-items: center;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	position: relative;
  	z-index: 1;
}

.card2::before {
	content: "";
  	display: block;
  	position: absolute;
  	z-index: -1;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
  	background-image: linear-gradient(to bottom, #cc2b5e, #753a88);
  	opacity: 0.9;
}

.card3{
	background: url("../images/bg-01.jpg");
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-items: center;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	position: relative;
  	z-index: 1;
}

.card3::before {
	content: "";
  	display: block;
  	position: absolute;
  	z-index: -1;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
  	background-image: linear-gradient(to bottom, #004e92, #000428);
  	opacity: 0.9;
}




.container-login100 {
  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
}


/*__________________________________________________________________________________________________________________________________________*/
/********************************************************************************************************************************************/
/*-----------BODY 2--------------------*/

.body2{
	display: none;
	overflow: hidden;
	align-items: center;
}


.body2 .qs-wrapper{
	background-color: #fff;
	display: flex;
  	margin: 0 auto;
  	position: relative;
  	z-index: 1;
  	height: 350px;
  	min-width: 400px;
  	max-width: 600px;
  	align-items: center;
  	justify-content: center;
  	margin-top: 20px;
}

.body2 .qs-wrapper .bg{
	background: url("../images/flower.jpg");
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	width: 270px;
  	float: left;
  	margin: 10px;
}

.body2 .qs-wrapper .content{
	text-align: center;
}

.body2 .qs-wrapper p{
	display: inline-block;
	font-family: 'Pacifico', cursive;
	color: #25005c;
	font-size: 40px;
	font-weight: 100;
	margin-bottom: 20px;
	margin-left: -150px;
}

.body2 .qs-wrapper .submit-qs{
	background-image: linear-gradient(to right, #5a0078, #25005c);
	border:none;
	outline: none;
	height: 40px;
	width: 200px;
	color:#fff;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 1px;
	border-radius: 50px;
	margin-left: -30px;
	transition: all 0.5s ease;
}

.body2 .qs-wrapper .submit-qs:hover{
	letter-spacing: 3px;
}

/*__________________________________________________________________________________________________________________________________________*/
/********************************************************************************************************************************************/
/*-----------BODY 3--------------------*/

.body3{
	display: none;
	overflow: hidden;
	height: calc(100vh - 70px);
	position: relative;
}

.reg-content{
	background-color: #fff;
	background-image: linear-gradient(to bottom right, #5a0078, #25005c);
	padding: 30px 30px 40px 30px!important;
	text-align: center;
	position: absolute;
	top:40%;
	left: 50%;
	transform: translate(-50%,-41%);
	min-height: 300px;
	max-height: 600px;
}

.reg-content .form{
	padding: 0 50px;
}

.reg-content .reg-header{
	font-family: 'Pacifico', cursive;
	color:#fff;	
	font-size: 25px;
	font-weight: 200;
	opacity: 0.8;
	padding: 10px;
}

.reg-content .next{
	outline: none;
	border:none;
	height: 41px;
	width: 100%;
	border-radius: 50px;
	border: 1px solid #fff;
	background-color: transparent;
	color:#fff;
	opacity: 0.7;
	font-size: 16px;
	letter-spacing: 2px;
	transition: all 0.5s ease;
}

.reg-content .next:hover{
	letter-spacing: 10px;
}

#lang-contain, #genre-contain, #read-contain, #animal-contain, #name-contain{
	display:none;
}

.reg-content .form input[type=text]{
    border: none!important;
    outline: none!important;
    font-size: 1rem!important;
    box-shadow: none!important;
    transition: all 0.3s!important;
    /*width: 100%;*/
    /*max-width: 350px;*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  


    background-color: #fff;
    opacity: 0.3;
    border-radius: 50px;
    padding-left: 30px;
    margin-left: 0;
}

.reg-content .form input[type=text]::placeholder{
	color: black;
	opacity: 1;
}

.reg-content .label{
	color: #fff;
	font-weight: 200;
	letter-spacing: 1px;
	margin: 10px;
}

.determinate{
	background-color: #54c95d!important;
}

.progress{
	background-color: #e8f5e9!important;
	height: 2px;
}

#animal-contain label span{
	color:#fff!important;
	opacity: 0.7;
}

#animal-contain label{
	margin: 10px!important;
}



/*__________________________________________________________________________________________________________________________________________*/
/********************************************************************************************************************************************/
/*-----------BODY 4--------------------*/

.body4{
	display: none;
	overflow: hidden;
	height: calc(100vh - 70px);
	position: relative;
}

.con-content{
	background-color: #fff;
	background-image: linear-gradient(to bottom right, #5a0078, #25005c);
	padding: 30px 30px 40px 30px!important;
	text-align: center;
	position: absolute;
	top:40%;
	left: 50%;
	transform: translate(-50%,-41%);
	min-height: 300px;
	max-height: 600px;
	width:auto;
}

.con-content .form{
	padding: 0 50px;
}

.con-content .con-header{
	font-family: 'Pacifico', cursive;
	color:#fff;	
	font-size: 25px;
	font-weight: 200;
	opacity: 0.8;
	padding: 10px;
}

.con-content .form input[type=text]{
    border: none!important;
    outline: none!important;
    font-size: 1rem!important;
    box-shadow: none!important;
    transition: all 0.3s!important;
    /*width: 100%;*/
    /*max-width: 350px;*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  


    background-color: #fff;
    opacity: 0.3;
    border-radius: 50px;
    padding-left: 30px;
    margin-left: 0;
}

.con-content .form input[type=text]::placeholder{
	color: black;
	opacity: 1;
}

.con-content .label{
	color: #fff;
	font-weight: 200;
	letter-spacing: 1px;
	margin: 10px;
}

.con-content .next{
	outline: none;
	border:none;
	height: 41px;
	width: 100%;
	border-radius: 50px;
	border: 1px solid #fff;
	background-color: transparent;
	color:#fff;
	opacity: 0.7;
	font-size: 16px;
	letter-spacing: 2px;
	transition: all 0.5s ease;
}